*{
    font-family: Helvetica, sans-serif, arial ;   
}

.global-container{
    margin-top: 15px;
    display: flex;
    flex-direction:row;
    height:400px;
}

.informational-container{
    color: white;
    display: flex;
    flex-direction: column;
    padding:100px;
    width:500px;
    margin-right: 5px;
}

.data-container{
    display: flex;
    flex-direction:column;
    padding:100px;
    width:500px
}

.news{
    color:white;
    float: right;
    padding: 70px;
    height: 400px;
}

aside div{
    margin:7px;
}

#deathsUpdated{
    color:red;
    font-weight: 1000;
}

#infectedUpdated{
    color:rgb(224, 145, 55);
    margin-top:40px;
    font-weight: 1000;
}

#recoveredUpdated{
    color:rgb(33, 201, 33);
    margin-top:40px;
    font-weight: 1000;
}

input{
    width:15%;
    color: white;
    background-color: rgb(10,10,10);
    border: solid 2px white;
    margin-top: 2px;
    margin-left: 39%;
}

button{
    background-color: rgb(30,30,30);
    color: rgb(153, 136, 101);
    font-weight: 600;
    border: solid 2px rgb(31, 30, 30);
    cursor: pointer; 
}

footer a{
    color: white;
    text-decoration:none;
}

h1{
    color: rgb(153, 136, 101);
    text-align: center;
}

footer{
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100%px;
    text-align: center;
    width: 100%;
    color:white;
}

body{
    background-image: url('./../img/imgBackground.jpg' );
    background-repeat: no-repeat;
    background-size: 100%;  
}

header{
    background-image: url('./../img/imgHeader.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 8px;
    border-radius: 4%;
}

h1{
    margin-bottom: 18px;
}
blockquote{
    color: white;
    text-align: center;
}